html {
  overflow-x: hidden;
  height: 100%; /* makes sure our HTML takes up 100% of the browser window */
    font-size: 100%;
}
body {
    color:#fff;
    min-height: 100%;
    font-family: "Montserrat", sans-serif;    
 }

section.bluefill{
  background: #000f1d;
  width: 100vw;
}

header {
  background-image: url(../svg/hero_bg.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 75vw;
  width:100vw;
  color: #000f1d;
}

div.hero {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
}

div.hero-content{
  padding: 12rem 1rem 12rem 5rem;
}

header a.site-logo img{
  height: 2.75rem;
  width: 3.75rem;
 }

header h1{
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0.25rem 0;
}

header sup{
vertical-align: super;
font-size: 1rem;
}

header p{
  font-weight: 500;
  margin:.25rem 0;
  padding-bottom: 1rem;
}

header a.btn{
  margin: .25rem auto;
  padding:10px 35px;
  border-radius: 4px;
  background: #000f1d;
  font-size: 16px;
  font-weight: 600;
  color:#ED7C31;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
 }
 
 header a.btn:hover{
  background:-webkit-linear-gradient(90deg, #573734 0%, #D6562B 36.26%, #ED7C31 65.18%, #F4BB3A 100%);
  color: #fff;
 }

 div.hero-image{
  width: 58rem;
  height: 34rem;
  padding: 6rem 0 6rem 0;
 }

 img.mobilemockup {
  height: 460px;
  width: 230px;
  box-shadow: 8px 8px 10px rgba(0, 15, 29, 0.6);
  transform: translateY(-93%);
 }

 img.webmockup{
  height: 505px;
  width: 807px;
  box-shadow: 8px 8px 20px rgba(0, 15, 29, 0.6);
  transform: translateX(6rem);
 }

