html {
  overflow-x: hidden;
  height: 100%; /* makes sure our HTML takes up 100% of the browser window */
}

body {
  color:#fff;
  font-family: "Montserrat", sans-serif;  
 }


section.bluefill{
  background: #000f1d;
  width: 100vw;
}


/*---------------------------Hero------------------------*/



header {
  background-image: url(../svg/hero_bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width:100vw;
  color: #000f1d;
}

div.hero {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-gap: 20px;
  grid-template-rows: repeat(16, 2rem);
}

div.hero-content{
  grid-column: 2/6;
  grid-row: 5/9;
}

header a.site-logo img{
  height: 2.75rem;
  width: 3.75rem;
 }

header h1{
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0.25rem 0;
}

header sup{
  vertical-align: super;
  font-size: 1rem;
}

header p{
  font-weight: 500;
  margin:.25rem 0;
  padding-bottom: 1rem;
}

header a.btn{
  margin: .25rem auto;
  padding:10px 35px;
  border-radius: 4px;
  background: #000f1d;
  font-size: 16px;
  font-weight: 600;
  color:#ED7C31;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
 }
 
 header a.btn:hover{
  background:-webkit-linear-gradient(90deg, #573734 0%, #D6562B 36.26%, #ED7C31 65.18%, #F4BB3A 100%);
  color: #fff;
 }


 img.mobilemockup {
  box-shadow: 8px 8px 10px rgba(0, 15, 29, 0.6);
  grid-column: 6/9;
  grid-row-start: 4;
  width: 100%;
 }

 img.webmockup{
  box-shadow: 8px 8px 20px rgba(0, 15, 29, 0.6);
  grid-column: 7 / 16;
  grid-row-start: 3;
  width: 100%;
 }


 /*---------------------------Benefits------------------------*/



div.benefits-wrapper{
  padding: 5rem;
  margin: 0;
}

.benefits-wrapper h1 {
  margin-bottom: 3rem;
  margin-top: 0;
  font-size: 5.5vw;
  color: #ED7C31;
  font-weight: 700;
}

h1.tent {
  text-align: right;
}

.benefits-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.benefits-content p {
  max-width: 50vw;
  line-height: 150%;
  font-size: 1rem;
  font-weight: 400;
}

.benefits-image img {
  max-width: 36vw;
}


img#uiflow_1{
  max-width:85vw;
  padding: 3vw 0;
}

img#uiflow_2 {
  display: none;
}


img#searchbar{
  width: 100vw;
}

img#screenshot{
  width: 100vw;
  height: 100vw;
  padding: 3vw 0;
}

.styleguide {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  margin: 2rem 0;
}

div.styleguide a{
  margin: 2rem 0;
  padding:10px 35px;
  border-radius: 4px;
  background: #fff;
  font-size: 16px;
  font-weight: 600;
  color:#000f1d;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
 }
 
div.styleguide a:hover{
  background:-webkit-linear-gradient(90deg, #573734 0%, #D6562B 36.26%, #ED7C31 65.18%, #F4BB3A 100%);
  color: #fff;
 }


/*---------------------------Spellbound------------------------*/


 div.rectbox{
  background: #fff;
  width: 100vw;
  height: 100%;
  margin: 0;
 }

 .rectbox img{
  max-width: 80%;
  padding: 10vw;
 }

 /*---------------------------Footer------------------------*/

 footer {
  background: #000f1d;
  color: #fff;
  padding-top: 4rem;
 }

 .bottom-footer-block {
  background: #fff;
  color: #000f1d;
  text-align: center;
  font-weight: 400;
 }


 .bottom-footer-block img{
  padding-top: 1rem;
  height: 2.75rem;
  width: 3.75rem;
 }

 .bottom-footer-block p{
  padding-bottom: 1rem; 
 }

 footer hr{
  width:80vw;
 }

 footer nav ul {
 font-size:14px;
 line-height: 32px;
 font-weight:400;
 text-align: left;
 padding: 10px 20px;
 }

 footer nav ul li {
  list-style-type: none;
 }

 footer nav ul li a {
   color:#fff;
   text-decoration: none;
 }

footer nav ul li a strong{
   color:#fff;
   text-decoration:none;
   font-weight: 600;
 }

 .one-fifth {
  padding: 5px 20px;
  max-width: 20rem;
 }
 
 .one-fifth p{
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 20px;
 }

 .links1{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin:20px 40px;
  padding-bottom: 4rem;
 }

 .socialmedia li {
  font-size: 1.25rem;
  list-style-type: none;
  display: inline-block;
  margin:0;
  padding-right: 1.25rem;
 }

 /*-----------------------Media Queries----------------------------------*/


 /* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 640px){

 div.hero {
  display: grid;
  grid-template-columns: repeat(10, 2rem);
  grid-gap: 1rem;
  grid-template-rows: repeat(22, 2rem);
  margin-bottom: 5rem;
  }

 div.hero-content{
  grid-column: 2/9;
  grid-row-start: 5;
}

img.mobilemockup {
  grid-column:2/6;
  grid-row-start: 14;
  width: 120%;
 }

 img.webmockup{
  grid-column-start: 3;
  grid-row-start: 12;
  grid-row-end: 24;
  width: 140%;
 }

 header {
  background-size: auto;
  background-position-x: -50px;
  background-position-y: -20px;
  }

header a.site-logo img{
  height: 2.5rem;
  width: 3.5rem;
 }


div.benefits-wrapper{
  padding: 3rem;
}

.benefits-wrapper h1 {
  margin-bottom: 2rem;
  font-size: 8vw;
}

h1.tent {
  text-align: left;
}

.benefits-content {
  flex-direction: column;
  align-items: flex-start;
}

.benefits-content p {
  max-width: 80vw;
  line-height: 150%;
}

.benefits-image img {
  max-width: 80vw;
}


img#uiflow_2{
  display: block;
  max-width:80vw;
  padding: 3rem 0;
}

img#uiflow_1{
  display: none;
}

.links1{
  flex-direction: column;
}

 footer{
  padding-top: 2rem;

 }
 footer nav ul {
   padding: 0;
 }

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 640px) and (max-width: 768px) {
 
div.hero {
  grid-template-rows: repeat(20, 2rem);
  }

 div.hero-content{
  grid-column: 2/9;
  grid-row-start: 5;
}

img.mobilemockup {
  grid-column: 2/6;
  grid-row-start: 12;
  width: 100%;
 }

 img.webmockup{
  grid-column-start: 3;
  grid-row-start: 9;
  grid-row-end: 24;
  width: 120%;
 }

 header {
  background-size: auto;
  background-position-x: -40px;
  }


div.benefits-wrapper{
  padding: 3rem;
}

.benefits-wrapper h1 {
  margin-bottom: 2rem;
  font-size: 8vw;
}

h1.tent {
  text-align: left;
}


.benefits-content p {
  max-width: 80vw;
  line-height: 150%;
}

.benefits-image img {
  max-width: 60vw;
}


.links1{
  flex-direction: row;
  justify-content: flex-start;
}


} 

@media screen and (min-width: 768px) and (max-width: 1024px) {
  
 div.hero {
  grid-template-rows: repeat(20, 2rem);
  }

 div.hero-content{
  grid-column: 3/9;
  grid-row-start: 5;
}

img.mobilemockup {
  grid-column: 3/7;
  grid-row-start: 13;
  width: 100%;
 }

 img.webmockup{
  grid-column-start: 4;
  grid-row-start: 10;
  grid-row-end: 24;
  width: 130%;
 }

 header {
  background-size: auto;
  }

.benefits-wrapper h1 {
  margin-bottom: 2rem;
  font-size: 8vw;
}

h1.tent {
  text-align: left;
}

.benefits-content p {
  max-width: 80vw;
  line-height: 150%;
}

.benefits-image img {
  max-width: 60vw;
}


.links1{
  flex-direction: row;
  justify-content: flex-start;
}
    
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 1024px) and (max-width: 1200px) {

div.hero {
  grid-template-rows: repeat(24, 2rem);
}

div.hero-content{
  grid-column: 3/9;
  grid-row-start: 5;
}

img.mobilemockup {
  grid-column: 3/7;
  grid-row-start: 13;
  width: 104%;
 }

 img.webmockup{
  grid-column-start: 4;
  grid-row-start: 10;
  grid-row-end: 24;
  width: 130%;
 }

 header {
  background-size: auto;
  }

.benefits-wrapper h1 {
  margin-bottom: 2rem;
  font-size: 8vw;
}

h1.tent {
  text-align: left;
}

.benefits-content p {
  max-width: 80vw;
  line-height: 150%;
}

.benefits-image img {
  max-width: 50vw;
}

footer hr{
  width: 85vw;
}
    
} 

/* Extra large devices (TV monitors) */
@media screen and (min-width: 1920px) {

header {
  height: 100vh;
}

div.hero {
  grid-template-columns: repeat(18, 1fr);
  grid-gap: 1rem;
  grid-template-rows: repeat(24, 2rem);
}

div.hero-content{
  grid-column: 2/6;
  grid-row: 7/9;
}

header a.site-logo img{
  height: 3.3rem;
  width: 4.5rem;
 }

header h1{
  font-size: 3rem;
}

header sup{
  font-size: 1.2rem;
}

header p{
  font-size:1.2rem; 
  padding-bottom: 2rem;
}

header a.btn{
  font-size: 1.2rem;
 }
 
img.mobilemockup {
  grid-column: 6/9;
  grid-row-start: 6;
  width: 110%;
 }

img.webmockup{
  grid-column: 7 / 18;
  grid-row-start: 4;
 }

 div.benefits-wrapper{
  padding: 6rem;
}


.benefits-content p {
  max-width: 50vw;
  font-size: 1.2rem;
}
  
.benefits-image img {
  max-width: 36vw;
}

img.green_island{
  width: 150%;
}

.styleguide{
  font-size: 1.2rem;
}

.links1{
  justify-content: space-around;
 }

 footer hr {
  width: 85vw;
 }

}